{% extends "base.html" %}

{% block content %}
    <h2 class=" mt-5 fs-5">En Pan Comido, somos una panadería comprometida con brindar el sabor auténtico y la calidez que solo el pan recién horneado puede ofrecer. Desde nuestros inicios, hemos puesto dedicación y amor en cada receta, seleccionando los mejores ingredientes para crear productos frescos y deliciosos cada día.
        <br><br>
        Nos apasiona conservar las tradiciones de la panadería artesanal, combinándolas con un toque moderno para satisfacer todos los gustos. Ofrecemos una amplia variedad de panes y productos de repostería, desde el pan clásico de mantequilla hasta opciones más innovadoras y especialidades locales como el pan de bocadillo. Creemos que cada bocado debe ser una experiencia única y reconfortante.
        <br><br>
        En Pan Comido, cada cliente es parte de nuestra familia, y nos esforzamos por crear un ambiente acogedor donde todos se sientan bienvenidos. Nos enorgullece ser parte de la comunidad, y esperamos seguir compartiendo nuestros productos y nuestras historias con todos ustedes. ¡Bienvenidos a Pan Comido!
        
        
        
        
        
        
        </h2>
{% endblock %}