{% extends "base.html" %}

{% block content %}

    <h2 class=" mt-5 fs-5"><p>En Pan Comido, ofrecemos una variedad de servicios pensados para llevar el mejor pan y repostería a nuestros clientes:</p>
        <ul>
            <li><strong>Panadería Artesanal:</strong> Productos frescos y de calidad, elaborados cada día con ingredientes seleccionados.</li>
            <li><strong>Repostería Personalizada:</strong> Tartas, pasteles y postres hechos a la medida para cualquier ocasión especial.</li>
            <li><strong>Pedidos a Domicilio:</strong> Disfruta de nuestros productos sin salir de casa con nuestro servicio de entrega.</li>
            <li><strong>Catering para Eventos:</strong> Ofrecemos opciones de catering para eventos, incluyendo mesas de postres y panadería.</li>
        </ul>
        <p>Estamos aquí para endulzar tus momentos especiales y acompañarte en cada celebración. ¡Cuenta con nosotros!</p>
        
        </h2>
{% endblock %}